src/main/resources/example.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:country="http://spring.io/guides/gs-producing-web-service"
                  xmlns:country2="http://spring.io/guides/gs-producing-web-service2"

                  xmlns:weather="http://spring.io/guides/gs-producing-web-service3"
                  xmlns:tns="http://spring.io/guides/gs-producing-web-service4"

                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  targetNamespace="http://spring.io/guides/gs-producing-web-service4"
                  xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ ">
    <wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:schema>

        <xsd:import namespace="http://spring.io/guides/gs-producing-web-service"
                    schemaLocation="https://raw.githubusercontent.com/ivanthelad/soapwswithexternalxsd/main/src/main/resources/countries.xsd" />
        <xsd:import namespace="http://spring.io/guides/gs-producing-web-service2"
                    schemaLocation="https://raw.githubusercontent.com/ivanthelad/soapwswithexternalxsd/main/src/main/resources/countries2.xsd"/>
        <xsd:import namespace="http://spring.io/guides/gs-producing-web-service3"
                    schemaLocation="https://raw.githubusercontent.com/ivanthelad/soapwswithexternalxsd/main/src/main/resources/weather.xsd"/>
    </wsdl:types>
    <wsdl:message name="getCountryResponse" >
        <wsdl:part element="country:getCountryResponse" name="getCountryResponse"/>
    </wsdl:message>
    <wsdl:message name="getCountryRequest">
        <wsdl:part element="country:getCountryRequest" name="getCountryRequest"/>
    </wsdl:message>


    <wsdl:message name="getCountryResponse2">
        <wsdl:part element="country2:getCountryResponse2" name="getCountryResponse2"/>
    </wsdl:message>
    <wsdl:message name="getCountryRequest2">
        <wsdl:part element="country2:getCountryRequest2" name="getCountryRequest2"/>
    </wsdl:message>

    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="getCountry">
            <wsdl:input message="country:getCountryRequest" name="getCountryRequest"/>
            <wsdl:output message="country:getCountryResponse" name="getCountryResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="CountriesPort2">
        <wsdl:operation name="getCountry2">
            <wsdl:input message="country2:getCountryRequest2" name="getCountryRequest2"/>
            <wsdl:output message="country2:getCountryResponse2" name="getCountryResponse2"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:portType name="WeatherPort">


        <wsdl:operation name="getWeatherByPlaceName">
            <wsdl:input message="weather:GetWeatherByPlaceName" name="GetWeatherByPlaceName"/>
            <wsdl:output message="weather:GetWeatherByPlaceNameResponse" name="GetWeatherByPlaceNameResponse"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="CountriesPortSoap11" type="country:CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCountry">
            <soap:operation soapAction=""/>
            <wsdl:input  name="getCountryRequest" >
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getCountry2">
            <soap:operation soapAction=""/>
            <wsdl:input name="getCountryRequest2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCountryResponse2">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="getWeatherByPlaceName">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetWeatherByPlaceName">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetWeatherByPlaceNameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="country:CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location=""/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>