src/main/resources/weather.xsd

<xsd:schema 
          targetNamespace="http://spring.io/guides/gs-producing-web-service3"
          xmlns:tns="http://spring.io/guides/gs-producing-web-service3"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema"  >
    <xsd:element name="GetWeatherByZipCode">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="ZipCode" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetWeatherByZipCodeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="GetWeatherByZipCodeResult" type="tns:WeatherForecasts" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="WeatherForecasts">
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Latitude" type="xsd:float" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Longitude" type="xsd:float" />
            <xsd:element minOccurs="1" maxOccurs="1" name="AllocationFactor" type="xsd:float" />
            <xsd:element minOccurs="0" maxOccurs="1" name="FipsCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="PlaceName" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="StateCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Details" type="tns:ArrayOfWeatherData" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfWeatherData">
        <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="WeatherData" type="tns:WeatherData" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WeatherData">
        <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Day" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="WeatherImage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="MaxTemperatureF" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="MinTemperatureF" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="MaxTemperatureC" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="MinTemperatureC" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetWeatherByPlaceName">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="PlaceName" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetWeatherByPlaceNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="GetWeatherByPlaceNameResult" type="tns:WeatherForecasts" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WeatherForecasts" type="tns:WeatherForecasts" />
</xsd:schema>
